@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

nav,
main,
header,
section,
article,
aside,
footer {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://www.w3schools.com/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-bar,
h1,
button {
  font-family: "Raleway", sans-serif;
}

.fa-anchor,
.fa-coffee {
  font-size: 200px;
}
